.vscode/ipch/bf1e6d1be843c3fe/interpretador.ipch
.vscode/ipch/bf1e6d1be843c3fe/mmap_address.bin
interpretador
.vscode/ipch/f90894f63c92042f/mmap_address.bin
.vscode/c_cpp_properties.json
.vscode/ipch/640e5ce64d1479a1/mmap_address.bin
